<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Solar Demo - Summary</title>
    <link rel="stylesheet" href="stylesheets/chargingpilemanagement.css">
  </head>
  <body>
    <div class="dashboardadmin">
      
      <div class="LeftItemList">
	      <label class="IconLWhite100"></label>
	      <label class="PVTitle">EV系統</label>
	      <hr class="LineTitle" />
	      <div class="NotRectangleSelected"><label class="currentLeftTitle"><a href='/ChargingPileOverview' class="linkPath">即時監控</a></label></div>
	      <div class="NotRectangleSelected"><label class="currentLeftTitle"><a href='/ChargingPileReport' class="linkPath">充電報表</a></label></div>
	      <div class="RectangleSelected"><label class="currentLeftTitle">充電管理</label></div>
          <div class="NotRectangleSelected"><label class="currentLeftTitle"><a href='/ChargingPileSetting' class="linkPath">設定</a></label></div>
      </div>
      <div class="UpperTitle">
        <div class="UpperContainer">
          
        </div>
        
      </div>
      <div class="MainContainer">
        
      </div>
      
    </div>
  </body>
</html>