<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>太陽能系統Demo</title>
    <link rel="stylesheet" href="stylesheets/history.css">
  </head>
  <body>
    <h1><%= title %></h1>
    <p>This is history testing page</p>
    <div class="LeftWindows" id="LeftItem">
      <p></p>
      <p><a class="PageItem" href='/Summary'>Summary</a></p>
      <p><a class="PageItem" href='/History'>History</a></p>
    </div>

    

    <div class="MainWindows">
      <div class="InverterOption">
        <p>選擇要顯示的Inverter</p>
        <% for (var i =1; i <=20;  i++ ) { %>
            <p><input type="checkbox" id="opt"<%= i %> name="check1">Inverter-<%= i %></input></p>
        <% } %> 
      </div>
      <div class="SelectOption">
        <div class="SelectBox">
            <p class="p1">選擇顯示類別</p>
            <p class="p1"><input class="RadioCheck" type="radio" name="selectType" value="Year">年<input class="RadioCheck" type="radio" name="selectType" value="Day">日</p>
            <p class="p1"><input class="RadioCheck" type="radio" name="selectType" value="Month">月<input class="RadioCheck" type="radio" name="selectType" value="Hour" checked>小時</p>
        </div>
        <div class="SelectBox">
          <form>
            <p class="p1">選擇日期</p>
            <p calss="p1"><input type="date" placeholder="Date" value=<%= new Date().getFullYear() + '-' + (((new Date().getMonth() + 1) < 10) ? "0" : "") + (new Date().getMonth() + 1).toString() + 
              "-" + (((new Date().getDate()) < 10) ? "0" : "") + (new Date().getDate()).toString() %>></p>
            <button>執行</button>
          </form>
        </div>
        <div class="ChartBox">
          <canvas id="myChart" width="400px" height="400px"></canvas>
          <script src="https://cdn.jsdelivr.net/npm/chart.js">
            // <block:setup:1>
const labels = [
  'January',
  'February',
  'March',
  'April',
  'May',
  'June',
];
const data = {
  labels: labels,
  datasets: [{
    label: 'My First dataset',
    backgroundColor: 'rgb(255, 99, 132)',
    borderColor: 'rgb(255, 99, 132)',
    data: [0, 10, 5, 2, 20, 30, 45],
  }]
};
// </block:setup>

// <block:config:0>
const config = {
  type: 'line',
  data,
  options: {}
};
// </block:config>

module.exports = {
  actions: [],
  config: config,
};

var myChart = new Chart(
    document.getElementById('myChart'),
    config
  );
          </script>
        </div>
      </div>
      
      
    </div>
    
  </body>
  <script src="javascripts/history.js"></script>
</html>