<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Solar Demo - Summary</title>
    <link rel="stylesheet" href="stylesheets/solarinverterlist.css">

  </head>
  <body>
    <script src="javascripts/solarinverterlist.js"></script>
    <div class="dashboardadmin">
        <div class="LeftItemList">
            <label class="IconLWhite100"></label>
            <label class="PVTitle">PV監測系統</label>
            <hr class="LineTitle" />
            <div class="NotRectangleSelected"><label class="currentLeftTitle"><a href='/SolarSummary' class="linkPath">場域儀表板</a></label></div>
            <div class="RectangleSelected"><label class="currentLeftTitle">案場設備列表</label></div>
            <div class="NotRectangleSelected"><label class="currentLeftTitle">中控地圖</label></div>
            <div class="NotRectangleSelected"><label class="currentLeftTitle">案場日報</label></div>
            <div class="NotRectangleSelected"><label class="currentLeftTitle">跨案場管理</label></div>
            <div class="NotRectangleSelected"><label class="currentLeftTitle">設備聯網管理</label></div>
            <div class="NotRectangleSelected"><label class="currentLeftTitle">設備註冊</label></div>
            <div class="NotRectangleSelected"><label class="currentLeftTitle">帳號會員管理</label></div>
        </div>
        <div class="UpperTitle">
          <div class="UpperContainer">
            <img src="img/dropdown.svg" class="dropdown">
            <label class="Hi-Admin">Hi, Admin</label>
          </div>
          
        </div>

        <div class="MainContainer">
            <div class="Rect-Main-20">
                <label>List</label>
                <div id="treeview_container" class="hummingbird-treeview">
                    <ul id="myUL">
                        <li><span class="caret caret-down" caret-down>高雄駁二</span>
                          <ul class="nested active">
                            <li><span class="caret">大義倉庫</span>
                                <ul class="nested">
                                    <li><a href='/SolarInverterList?AreaLocation=1&InverterID=1' class="linkPath2">>Inverter-01</a></li>
                                    <li><a href='/SolarInverterList?AreaLocation=1&InverterID=2' class="linkPath2">>Inverter-02</a></li>
                                </ul>
                            </li>
                            <li><span class="caret">誠品</span>
                                <ul class="nested">
                                    <li>Inverter-01</li>
                                    <li>Inverter-02</li>
                                </ul>
                            </li>
                            <li><span class="caret">兔將創意</span>
                                <ul class="nested">
                                    <li>Inverter-01</li>
                                    <li>Inverter-02</li>
                                </ul>
                            </li>
                          </ul>
                        </li>
                      </ul>
                </div>
                <script>
                    var toggler = document.getElementsByClassName("caret");
                    var i;

                    for (i = 0; i < toggler.length; i++) {
                        toggler[i].addEventListener("click", function() {
                        this.parentElement.querySelector(".nested").classList.toggle("active");
                        this.classList.toggle("caret-down");
                    });
}
                </script>
            </div>
        </div>

    </div>
  </body>
</html>