<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Solar Demo - Summary</title>
    <link rel="stylesheet" href="stylesheets/solarhistory.css">
  </head>
  <body>
    <script src="javascripts/solarinverterlist.js"></script>
    <div class="dashboardadmin">
        <div class="LeftItemList">
            <label class="IconLWhite100"></label>
            <label class="PVTitle">PV監測系統</label>
            <hr class="LineTitle" />
            <div class="NotRectangleSelected"><label class="currentLeftTitle"><a href='/SolarSummary' class="linkPath">場域儀表板</a></label></div>
            <div class="NotRectangleSelected"><label class="currentLeftTitle"><a href='/SolarInverterList?AreaLocation=1&InverterID=1' class="linkPath">案場設備列表</a></label></div>
            <div class="RectangleSelected"><label class="currentLeftTitle">歷史履歷</label></div>
        </div>
        <div class="UpperTitle">
          <div class="UpperContainer">
            <img src="img/dropdown.svg" class="dropdown">
            <label class="Hi-Admin">Hi, Admin</label>
          </div>
          
        </div>

        <div class="MainContainer">
        </div>
    </div>
  </body>
</html>