<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Solar Demo - Summary</title>
    <link rel="stylesheet" href="stylesheets/solarinverterlist.css">
  </head>
  <body>
    <div class="dashboardadmin">
        <div class="LeftItemList">
            <label class="IconLWhite100"></label>
            <label class="PVTitle">PV監測系統</label>
            <hr class="LineTitle" />
            <div class="NotRectangleSelected"><label class="currentLeftTitle"><a href='/SolarSummary' class="linkPath">場域儀表板</a></label></div>
            <div class="RectangleSelected"><label class="currentLeftTitle">案場設備列表</label></div>
            <div class="NotRectangleSelected"><label class="currentLeftTitle">中控地圖</label></div>
            <div class="NotRectangleSelected"><label class="currentLeftTitle">案場日報</label></div>
            <div class="NotRectangleSelected"><label class="currentLeftTitle">跨案場管理</label></div>
            <div class="NotRectangleSelected"><label class="currentLeftTitle">設備聯網管理</label></div>
            <div class="NotRectangleSelected"><label class="currentLeftTitle">設備註冊</label></div>
            <div class="NotRectangleSelected"><label class="currentLeftTitle">帳號會員管理</label></div>
        </div>
        <div class="UpperTitle">
          <div class="UpperContainer">
            <img src="img/dropdown.svg" class="dropdown">
            <label class="Hi-Admin">Hi, Admin</label>
          </div>
          
        </div>

        <div class="MainContainer">
            <div class="Rect-Main-20">
                <label>List</label>
                <div id="treeview_container" class="hummingbird-treeview">
                    <ul id="myUL">
                        <li><span class="caret">Beverages</span>
                          <ul class="nested">
                            <li>Water</li>
                            <li>Coffee</li>
                            <li><span class="caret">Tea</span>
                              <ul class="nested">
                                <li>Black Tea</li>
                                <li>White Tea</li>
                                <li><span class="caret">Green Tea</span>
                                  <ul class="nested">
                                    <li>Sencha</li>
                                    <li>Gyokuro</li>
                                    <li>Matcha</li>
                                    <li>Pi Lo Chun</li>
                                  </ul>
                                </li>
                              </ul>
                            </li>
                          </ul>
                        </li>
                      </ul>
                </div>
            </div>
        </div>

    </div>
  </body>
</html>