<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Solar Demo Summary</title>
    <link rel="stylesheet" href="stylesheets/solarsummary.css">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['Effort', 'Amount given', { role: 'style'}],
          ['My all',     88 , 'color: #1f2678'],
          ['Other',      12 , 'color: #ffffff']
        ]);

        var options = {
          pieHole: 0.7,
          pieSliceTextStyle: {
            color: 'black',
          },
          legend: 'none'
        };

        var chart = new google.visualization.PieChart(document.getElementById('myCanvas'));
        chart.draw(data, options);
      }
    </script>
  </head>
  <body>
    <div class="dashboardadmin">
      
      <div class="LeftItemList">
	      <label class="IconLWhite100"></label>
	      <label class="PVTitle">PV監測系統</label>
	      <hr class="LineTitle" />
	      <div class="RectangleSelected"><label class="currentLeftTitle">場域儀表板</label></div>
	      <div class="NotRectangleSelected"><label class="currentLeftTitle">案場列表</label></div>
	      <div class="NotRectangleSelected"><label class="currentLeftTitle">中控地圖</label></div>
	      <div class="NotRectangleSelected"><label class="currentLeftTitle">案場日報</label></div>
	      <div class="NotRectangleSelected"><label class="currentLeftTitle">跨案場管理</label></div>
	      <div class="NotRectangleSelected"><label class="currentLeftTitle">設備聯網管理</label></div>
	      <div class="NotRectangleSelected"><label class="currentLeftTitle">設備註冊</label></div>
	      <div class="NotRectangleSelected"><label class="currentLeftTitle">帳號會員管理</label></div>
        
      </div>
      <div class="UpperTitle">
        <div class="UpperContainer">
          <img src="img/dropdown.svg" class="dropdown">
          <label class="Hi-Admin">Hi, Admin</label>
        </div>
        
      </div>
      <div class="MainContainer">
        <div class="Rect-Main-1">
            <label class="Title-1">年累積發電量</label>
            <label class="Value-1">1234</label>
            <label class="Unit-1">kWh</label>
          </div>
          <div class="Rect-Main-2">
            <img src="img/car-solid.svg" class="car-solid">
            <label class="Value-2">17</label>
            <label class="Unit-2">輛</label>
            <label class="Title-2">汽車一年用電量</label>
          </div>
          <div class="Rect-Main-3">
            <img src="img/house-door-fill.svg" class="house-door-fill">
            <label class="Value-2">110</label>
            <label class="Unit-2">個</label>
            <label class="Title-2">家庭一年用電量</label>
          </div>
          <div class="Rect-Main-4">
            <img src="img/tree-fill.svg" class="tree-fill">
            <label class="Value-2">52</label>
            <label class="Unit-2">棵</label>
            <label class="Title-2">樹一年碳吸附量</label>
          </div>
          <div class="Rect-Main-5">
            <label class="Title-5">今日發電量</label>
            <label class="Value-5">312</label>
            <label class="Unit-5">kWh</label>
            <hr class="LineTitle-2" />
            <label class="Title-6" style="margin-top: 119px;margin-left: 20px;">今日單位發電量</label>
            <label class="Title-6" style="margin-top: 147px;margin-left: 20px;">每小時平均發電量</label>
            <label class="Title-6" style="margin-top: 175px;margin-left: 20px;">平均日照量</label>
            <label class="Title-6" style="margin-top: 203px;margin-left: 20px;">裝置容量</label>
            <label class="Title-6" style="margin-top: 231px;margin-left: 20px;">案場總數</label>
            <label class="Value-6" style="margin-top: 119px;margin-left: 144px;">1349.2</label>
            <label class="Value-6" style="margin-top: 147px;margin-left: 144px;">231</label>
            <label class="Value-6" style="margin-top: 175px;margin-left: 144px;">6.2</label>
            <label class="Value-6" style="margin-top: 203px;margin-left: 144px;">3.2</label>
            <label class="Value-6" style="margin-top: 231px;margin-left: 144px;">25</label>
            <label class="Unit-6" style="margin-top: 119px;margin-left: 214px;">kWh</label>
            <label class="Unit-6" style="margin-top: 147px;margin-left: 214px;">kW</label>
            <label class="Unit-6" style="margin-top: 175px;margin-left: 214px;">W/㎡</label>
            <label class="Unit-6" style="margin-top: 203px;margin-left: 214px;">kW</label>
          </div>
          <div class="Rect-Main-6">
            <label class="Title-5">設備連線率</label>
            <div id="myCanvas" class="Oval"></div>
            <label class="Oval-2"></label>
            <label class="Title-7" style="margin-top: 234px;margin-left: 66px;">上線</label>
            <label class="Value-7" style="margin-top: 234px;margin-left: 103px;">697</label>
            <label class="Oval-3"></label>
            <label class="Title-7" style="margin-top: 234px;margin-left: 168px;">離線</label>
            <label class="Value-7" style="margin-top: 234px;margin-left: 205px;">96</label>
          </div>
          <div class="Rect-Main-7">
            <label class="Title-8">每小時發電量</label>
            <lablel class="Unit-8">(kWh)</lablel>
          </div>
          <div class="Rect-Main-8">
            <label class="Title-9">案場發電量排行</label>
          </div>
          <div class="Rect-Main-9">
            
          </div>
      </div>
      
    </div>
  </body>
</html>