<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Solar Demo Summary</title>
    <link rel="stylesheet" href="stylesheets/solarsummary.css">
  </head>
  <body>
    <div class="dashboardadmin">
      
      <div class="LeftItemList">
	      <label class="IconLWhite100"></label>
	      <label class="PVTitle">PV監測系統</label>
	      <hr class="LineTitle" />
	      <div class="RectangleSelected"><label class="currentLeftTitle">場域儀表板</label></div>
	      <div class="NotRectangleSelected"><label class="currentLeftTitle">案場列表</label></div>
	      <div class="NotRectangleSelected"><label class="currentLeftTitle">中控地圖</label></div>
	      <div class="NotRectangleSelected"><label class="currentLeftTitle">案場日報</label></div>
	      <div class="NotRectangleSelected"><label class="currentLeftTitle">跨案場管理</label></div>
	      <div class="NotRectangleSelected"><label class="currentLeftTitle">設備聯網管理</label></div>
	      <div class="NotRectangleSelected"><label class="currentLeftTitle">設備註冊</label></div>
	      <div class="NotRectangleSelected"><label class="currentLeftTitle">帳號會員管理</label></div>
        
      </div>
      <div class="UpperTitle">
        <div class="UpperContainer">
          <img src="img/dropdown.svg" class="dropdown">
          <label class="Hi-Admin">Hi, Admin</label>
        </div>
        
      </div>
      <div class="MainContainer">
        <div class="Rect-Main-1">
          
        </div>
        <div class="Rect-Main-2">
          
        </div>
        <div class="Rect-Main-3">
          
        </div>
        <div class="Rect-Main-4">
          
        </div>
      </div>
      
    </div>
  </body>
</html>