<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Test</title>
    

  </head>
  <body>
    <label id="a">Test</label>
    <p onclick="ShowTest()">Show Test</p>
    <script>
      function ShowTest(){
        var _a = document.getElementById('a');
        _a.textContent = 'A';
        _a.title = 'B';
      }
    </script>
    
  </body>
</html>