<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Test</title>
    

  </head>
  <body>
    <label id="a">Test</label>
    <p onclick="ShowTest()">Show Test</p>
    <script>
      function ShowTest(){
        var _a = document.getElementById('a');
        _a.textContent = 'A';
        _a.title = 'B';
      }
    </script>

    <input type="checkbox" name="checkInverter" value='Select ALL'>

    <% for(var i=0;i<10;i++){ %>
      <% var indexString = 'Test' + i.toString(); %>
        <input type="checkbox" name="checkInverter" value=<%= indexString %>>
    <% } %>
    
  </body>
</html>