<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Test</title>
    

  </head>
  <body>
    <label id="a">Test</label>
    <p type="button" onclick="ShowTest()">Show Test</p>
    <script>
      function ShowTest(){
        var _a = document.getElementById('a');
        _a.textContent = 'A';
        _a.title = 'B';
      }
    </script>

    <input type="checkbox" onchange="ChangeSelect()" id='b' name="checkInverter" value='Select ALL'>Select All
    <script>
      function ChangeSelect(){
        var bbb = document.getElementById('b');
        var _a = document.getElementById('a');
        _a.textContent = 'C';
        var ccc = document.getElementsByName('checkInverter');
        var ddd= document.getElementById('c');
        ddd.textContent = ccc.length.toString();
      }
    </script>
    <p></p>
    <% for(var i=0;i<10;i++){ %>
      <% var indexString = 'Test' + i.toString(); %>
        <input type="checkbox" name="checkInverter" value=<%= indexString %>><%= indexString %>
        <p></p>
    <% } %>
    <textarea id='c'>NA</textarea>
    
  </body>
</html>