.LeftWindows{
    position:fixed;
    top: 120px;
    width: 200px;
    height:1000px;
    background-color: rgb(196, 212, 223);
}
.PageItem{
    margin-top: 10px;
    margin-left: 10px;
    color:blue;
    font-size: 14pt;
}
.MainWindows{
    position: fixed;
    top: 120px;
    left: 208px;
    width: 1700px;
    height: 1000px;
    background-color: rgb(196, 212, 223);
}
.SelectOption{
    position:fixed;
    display: inline-block;
    top: 125px;
    left: 410px;
    width: 700px;
    height: 300px;
    color: black;
    font-size: 16pt;
    background-color: cornsilk;
}
.InverterOption{
    position:fixed;
    top: 125px;
    left: 208px;
    width: 200px;
    height: 990px;
    color: black;
    font-size: 16pt;
    background-color: cornsilk;
}
.SelectBox{
    display: inline-block;
    margin-left: 10px;
    margin-top: 10px;
    width: 300px;
    height: 180px;
    color: black;
    font-size: 16pt;
    background-color: cornsilk;
}
.RadioCheck{
    margin-left: 0px;
    margin-top: 0px;
    width: 30px;
    height: 20px;

}
.p1{
    width:280px;
}
p{
    margin: 0px;
}