html {
    position: sticky;
    overflow:auto;
}

body{overflow: auto;}

.LeftWindows{
    position:absolute;
    top: 120px;
    width: 200px;
    height:1000px;
    background-color: rgb(196, 212, 223);
}
.PageItem{
    margin-top: 10px;
    margin-left: 10px;
    color:blue;
    font-size: 14pt;
}
.MainWindows{
    top: 120px;
    left: 208px;
    width: 1900px;
    height: 1000px;
    background-color: rgb(196, 212, 223);
    position: absolute;
    overflow-x: scroll;
    overflow-y: scroll;
}
.SelectOption{
    position:absolute;

    left: 200px;
    width: 1400px;
    height: 300px;
    color: black;
    font-size: 16pt;
    background-color: cornsilk;
}
.InverterOption{
    position:absolute;
    width: 200px;
    height: 990px;
    color: black;
    font-size: 16pt;
    background-color: cornsilk;
}
.SelectBox{
    position: absolute;
    display: inline-block;
    margin-left: 10px;
    margin-top: 10px;
    top: auto;
    left: 200px;
    width: 300px;
    height: 180px;
    color: black;
    font-size: 16pt;
    background-color: cornsilk;
}
.RadioCheck{
    margin-left: 0px;
    margin-top: 0px;
    width: 30px;
    height: 20px;

}
.p1{
    width:280px;
}
p{
    margin: 0px;
}

.ChartBox{
    position: absolute;
    top:auto;
    left: auto;
}
