.LeftWindows{
    position:fixed;
    top: 120px;
    width: 200px;
    height:1000px;
    background-color: rgb(196, 212, 223);
}
.PageItem{
    margin-top: 10px;
    margin-left: 10px;
    color:blue;
    font-size: 14pt;
}
.MainWindows{
    position: fixed;
    top: 120px;
    left: 208px;
    width: 1700px;
    height: 1000px;
    background-color: rgb(196, 212, 223);
}
.LocationInfo{
    position:relative;
    top: 10px;
    left: 10px;
    width: 150px;
    height: 200px;
    color: black;
    font-size: 16pt;
    background-color: cornsilk;
}
.EQInformation{
    position:relative;
    top: 10px;
    left: 170px;
    width: 150px;
    height: 200px;
    color: black;
    font-size: 16pt;
    background-color: cornsilk;
}
