.LeftWindows{
    position:fixed;
    top: 120px;
    width: 200px;
    height:1000px;
    background-color: rgb(196, 212, 223);
}
.PageItem{
    margin-top: 10px;
    margin-left: 10px;
    color:blue;
    font-size: 14pt;
}
.MainWindows{
    position: fixed;
    top: 120px;
    left: 208px;
    width: 1700px;
    height: 1000px;
    background-color: rgb(196, 212, 223);
}
.InverterDisplay{
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
    width: 700px;
    height: 320px;
}
.InformationDisplay{
    display: inline-block;
    width: 300px;
    height: 150px;
    color: black;
    font-size: 16pt;
    background-color: cornsilk;
}
#LocationInfo{
    margin-top: 10px;
    margin-left: 10px;

}
#EQInformation{
    margin-top: 10px;
    margin-left: 10px;
}
.InformationDisplay2{
    margin-left: 10px;
    width: 620px;
    height: 150px;
    color:black;
    font-size: 16pt;
    background-color: cornsilk;
}
.InformationDisplay3{
    margin-left: 10px;
    width: 620px;
    height: 150px;
    color:black;
    font-size: 16pt;
    background-color: cornsilk;
}
.MapDisplay{
    display: inline-block;
    width: 300px;
    height: 150px;
    color: black;
    font-size: 16pt;
    background-color: cornsilk;
}
